*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
 body{
 	font-family: 'Poppins', sans-serif;
 }
 button{
 	 	font-family: 'Poppins', sans-serif;

 }
 header{
 	display: flex;  /*move everything in one line */
 	width: 90%; /*if u want to get items closer decrease the width value*/
 	height: 10vh;
 	align-items : center;
 	margin: auto;
 }
 .logo-container,.cart,.nav-links{
 	display: flex;
 }
 
 .logo-container{
 	flex:1; /* take up all the space in 90% width*/

 }
 .logo{
 	font-weight: 400;
 	margin: 5px;
 }
 .logo-container img{
 		width:4vh;
 	height: 4vh;

 }
 /*navbar*/
 nav{
 	flex:2;
 }
 .nav-links{
 	justify-content:space-around;
 	 	list-style: none;

 }
 .nav-link{
 	font-size: 18px;
 	color:black;
 	text-decoration: none;
 }


 .cart{
 	 	flex:1;
 	 	 	justify-content: flex-end; /* move content at end*/
 }
 .cart img{
	 width:5vh;
 	height: 5vh;
 }
 .presentation{
 	display: flex;
 	width: 90%;
 	margin: auto;
 	min-height: 80vh;
 	align-items: center;

 }
 .introduction{
 	flex: 1;
 }
 .intro-text h1{
 	font-size: 44px;
 	font-weight: 500;
 	background:linear-gradient(to right,#494964,black); /*used to effects text to change color towards right-side*/
 	-webkit-background-clip:text;
 	-webkit-text-fill-color:transparent;
 }
 .intro-text p{
 	margin-top:5px;
 	font-size:22px;
 	color:#585772;
 }
 .cta{
 	padding: 50px 0px 0px 0px;
 }
 .cta-select{
 	border: 2px solid #c36cbb;
 	background: transparent;
 	color:#c36cbb;
 	width: 150px;
 	height:50px;
 	cursor: pointer;
 	font-size: 16px;
 }
 .cta-add{
 	background:#c36cbb;
 	width: 150px;
 	height:50px;
 	cursor: pointer;
 	font-size: 16px;
 	border: none;
 	color:#fff;
 	margin: 30px 0px 0px 30px;

 }
 .cover{
 	flex: 1;
 	 	height: 50vh;

 }
 .cover img{
 	height: 100%;
 	width: 40vh;
 	z-index: -1;
 	animation:drop 1.5s ease;
 	/*filter:drop-shadow(0px 5px 3px black);*/
 }
 
 .big-circle{
 	position: absolute;
 	top:0px;
 	right: 0px;
 	z-index: -1;
 	opacity: 0.4;
 	 	height: 80%;
 }
  .medium-circle{
 	position: absolute;
 	top:30%;
 	right: 35%;
 	z-index: -1;
 	opacity: 0.3;
 	 	height: 60%;
 }
   .small-circle{
 	position: absolute;
 	bottom: 0px;
 	left:20%;
 	z-index: -1;
 	opacity: 1;
 }
/*animation of cover image*/
@keyframes drop{
	0%{
		opacity: 0;
		transform: translateY(-80px);
	}
	100%{
		opacity: 1;
		transform: translateY(0px);
	}
}

.laptop-select{
	position: absolute;
	display: flex;
	width: 15%;
	justify-content: space-around;
	right:33%;
}
/*footers*/
footer{
	display: flex;
	margin-top: 20vh;
	align-items: center;
}
.footer-intro{
	flex: 1;
	text-align: center;
	bottom: 0px;
}
@media screen and (max-width: 1024px){
	header{
		width: 90%;
		justify-content: center;

	}
	.cart{
		flex:0.5;
	}
	.presentation{
		flex-direction: column;
		width: 100%;
	}
	.introduction{
		margin-top: 5vh;
		text-align: center;
	}
	.intro-text h1{
		font-size: 30px;
	}
	.intro-text p{
		font-size: 20px;
	}
	 .cta{
 	padding: 10px 0px 0px 0px;
 }
 .cover{
 	margin-top: 5vh;
 }
 .cover img{
 	height: 70%;
 	width: 33vh;
 }
 .laptop-select{
	 margin-top: 5px;
 	bottom: 5%;
 	width: 30%;
 	right: 50%;
 	transform: translate(50%,5%);
}
.small-circle,.medium-circle,.big-circle{
	opacity: 0.2;
}
 .logo-container img{
 		width:2vh;
 	height: 3vh;
 }
  .cart img{
 	 		width:3vh;
 	height: 3vh;
 }
  .logo-container h1{
  	font-size: 18px;

 }
  .cta-add{

 	
 	margin: 30px 0px 0px 15px;

 }
  .cta-select{
 	 	margin: 30px 0px 0px 15px;

 }
	.footer-intro{
		position: relative;
		bottom: 0;
	}

}
